<template>
    <div class="hello">
        <div id="comment-list" class="container"></div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center">
            Comment List
        </h1>
        <form v-on:submit.prevent="addNewComment">
            <label for="commentnameinput">Your comment</label>
            <input v-model="commentname" type="text" id="commentnameinput" class="form-control" placeholder="Add new comment">
            <button v-if="this.isEdit == false" type="submit" class="btn btn-success btn-block mt-3">Add</button>
        </form>

        <table class="table">
            <tr v-for="(todo) in todos" v-bind:key="todo.id" v-bind:title="todo.comment_name">
                <td class="text-left">{{todo.comment_name}}</td>
                <td class="text-right">
                    <button class="btn btn-info" v-on:click="editComment(todo.comment_name, todo.id)">Edit</button>
                    <button class="btn btn-danger" v-on:click="deleteComment(todo.comment_name, todo.id)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      todos: [],
      id: '',
      commentname: '',
      isEdit: false
    }
  },
  mounted () {
    this.getComment()
  },
  methods: {
    getComment () {
      axios.get('/comments').then(
        result => {
          console.log(result.data)
          this.todos = result.data
        },
        error => {
          console.error(error)
        }
      )
    },

    addNewComment () {
      axios.post('/comments', {comment_name: this.commentname})
        .then((res) => {
          this.commentname = ''
          this.getComment()
        }).catch((err) => {
          console.log(err)
        })
    },
    editComment (title, id) {
      this.id = id
      this.commentname = title
      this.isEdit = true
    },
    deleteComment (id) {
      axios.delete('/coments/:id')
        .then((res) => {
          this.commentname = ''
          this.getComment()
          console.log(res)
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>
