<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse justufy-content-md-center" id="navbar1">
            <ul class="navbar-nav">
                <li v-if="auth==''" class="nav-item">
                    <router-link class="nav-link" to="/">Home</router-link>
                </li>
                <li  v-if="auth==''" class="nav-item">
                    <router-link class="nav-link" to="/login">Login</router-link>
                </li>
                <li  v-if="auth==''" class="nav-item">
                    <router-link class="nav-link" to="/register">Registration</router-link>
                </li>
                <li  v-if="auth=='loggedin'" class="nav-item">
                    <router-link class="nav-link" to="/comment">Comment List</router-link>
                </li>
                <li  v-if="auth=='loggedin'" class="nav-item">
                    <a href="" class="nav-lik" v-on:click="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
import EventBus from './EventBus'

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data () {
    return {
      auth: '',
      user: ''
    }
  },

  methods: {
    logout () {
      localStorage.removeItem('usertoken')
    }
  },

  mounted () {
    EventBus.$on('logged-in', status => {
      this.auth = status
    })
  }
}
</script>
