<template>
    <div class="container">
        <div class="jumbotron mt-5">
            <div class="col-sm-8 mx-auto">
                <h1 class="text-center">
                    Profile {{last_name}}
                </h1>
            </div>
            <table class="table col-md-6 mx-auto">
                <tbody>
                <tr>
                    <td>First_name</td>
                    <td>{{first_name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{email}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import jwtCode from 'jwt-decode'

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtCode(token)
    return {
      first_name: decoded.first_name,
      last_name: decoded.last_name,
      email: decoded.email
    }
  }
}
</script>
