<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <form action="" v-on:submit.prevent="register">
                    <h1 class="h3 mb-3 font-weight-normal">
                        Please, registration
                    </h1>
                    <div class="form-group">
                        <label for="first_name">First name</label>
                        <input type="text" v-model="first_name" name="first_name" placeholder="Enter your first name..."
                               class="form-control" id="first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last name</label>
                        <input type="text" v-model="last_name" name="last_name" placeholder="Enter your last name..."
                               class="form-control" id="last_name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" v-model="email" name="email" placeholder="Enter your email address..."
                               class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" v-model="password" name="password" placeholder="Enter your password..."
                               class="form-control" id="password">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import router from '../router'

export default {
  data () {
    return {
      first_name: '',
      last_name: '',
      email: '',
      password: ''
    }
  },

  methods: {
    register () {
      axios.post('/users/register', {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        password: this.password
      }).then(res => {
        this.first_name = ''
        this.last_name = ''
        this.email = ''
        this.password = ''
        router.push({name: 'Profile'})
      }).catch(err => {
        console.log(err)
      })
    }

  }
}

</script>
